@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p style="font-size:x-large">這是一個以實價登錄為資料所開發的網站!</p>
<p style="font-size:x-large">與一般房屋交易網站的差別在於視覺化的圖形分析，讓您可以用快速且一目了然的方式找到適合自己的房屋定位，更可以洞悉市場概況!</p>
<p style="font-size:x-large">當然還有很多不足的地方，例如效能，目前只能用最便宜的網路空間與資料庫、google map有次數限制等</p>
<p style="font-size:x-large">但如果您跟我一樣，正在找適合的地方，這些資訊能幫助到我，希望這些資訊也可以幫助到您</p>
<p>Max Jian 2017/01</p>

<script src="~/js/ga.js"></script>

