@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Name : Max Jian<br />
    <br />

</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">tloy1966@gmail.com</a><br />
</address>
<script src="~/js/ga.js"></script>
