
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>forecast</h2>
<div class="row">
    <input type="text" placeholder="區域" value="淡水區" />
    <input type="text" placeholder="類型" />
    <input type="text" placeholder="路名" />
    <select class="form-control">
        <option value="1">1</option>
        <option value="1">2</option>
        <option value="3">1</option>
    </select>
</div>
<div>
    <input type="text" placeholder="幾坪" />
    <input type="text" placeholder="樓層" />
    
</div>

